<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2e353d;" >

    <a class="navbar-brand" href="#">
      <!-- <img src="assets/logo.jpg" width="150" height="50" alt="logo"> -->
    <%= image_tag "logo.png", :style => 'width: 350px; height: 75px;' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <!-- a class="nav-link" href="#">Home</a -->
          <%= link_to "Home", home_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">About</a> -->
          <%= link_to "About", about_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Male</a> -->
          <%= link_to "Male", male_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Female -->
          <%= link_to "Female", female_path, :class => "nav-link" %>
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li>
          <!--put search bar here-->
          <%= form_tag (search_path) do %>
          <%= search_field_tag :term %>
          <%= submit_tag "Search by organism" %>
          <% end %>
          <%= params[:term] %>
        
        </li>
      </ul>
  </div>
</nav>
