<div class="nav-side-menu">


    <div class="menu-list" >
        <ul id="menu-content" class="menu-content collapse out">
          <% @organ_systems.each_with_index do |organ_system, index| %>

            <li data-toggle="collapse" data-target="#<%=index+1%>" class="collapsed active">
              <%= link_to "#", :id => "f#{organ_system.name.delete(' ')}", remote: true do %>
              <%= organ_system.name.titleize %>
              <% end %>
            </li>

            <ul class="sub-menu collapse" id="<%=index+1%>">
                <li> <%= link_to "System Flora", organ_system_path(organ_system.id), :id => '#floraModal', "data-toggle" => "modal", remote: true %></li>
            </ul>
          <% end %>
        </ul>
    </div>
</div>
