<div class="nav-side-menu">
    <!-- <div class="brand">Organ System</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
    <div class="menu-list" style="padding-top:40px;">
        <ul id="menu-content" class="menu-content collapse out">
          <% @organ_systems.each_with_index do |organ_system, index| %>

            <li data-toggle="collapse" data-target="#<%=index+1%>" class="collapsed active">
              <%= link_to "#", :id => "f#{organ_system.name}", remote: true do %>
              <%= content_tag :span, organ_system.name.capitalize, :class => "arrow" %>
              <% end %>
            </li>

            <ul class="sub-menu collapse" id="<%=index+1%>">
                <li> <%= link_to "System Flora", organ_system_path(organ_system.id), :id => '#floraModal', "data-toggle" => "modal", remote: true %></li>
            </ul>
          <% end %>
        </ul>
    </div>
</div>
