<div class="nav-side-menu">
    <div class="brand">Organ System</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
              <i class="fa fa-gift fa-lg"></i><%= link_to fnasopharynx_path, :id => "fnasopharynx", remote: true do %>
              <%= content_tag :span, "Nasopharynx", :class => "arrow" %>
              <% end %>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="#">Living Bacterias</a></li>
                <li><a href="#">Antibiotics</a></li>
            </ul>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
              <i class="fa fa-gift fa-lg"></i><%= link_to fnasopharynx_path, :id => "frespiratory", remote: true do %>
              <%= content_tag :span, "fnasopharynx", :class => "arrow" %>
              <% end %>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="#">Living Bacterias</a></li>
                <li><a href="#">Antibiotics</a></li>
            </ul>
            <!-- <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>
            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li> -->
        </ul>
    </div>
</div>


<!-- <div class="nav-side-menu">
    <div class="brand">Organ Systems</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list"> -->
      <!-- <%= link_to "fnasopharynx", fnasopharynx_path, :class => "btn btn-primary btn-lg btn-block responsive-width", remote: true %> -->
      <!-- <div class="nav-side-menu">
          <div class="brand">Brand Logo</div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
              <i class="fa fa-gift fa-lg"></i><%= link_to fnasopharynx_path, remote: true do %> fnasopharynx <span class="arrow"></span>
              <% end %>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="#">CSS3 Animation</a></li>
                <li><a href="#">General</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
                <li>New Service 2</li>
                <li>New Service 3</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>
            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li>
        </ul>
    </div>
</div> -->


<!-- <div class="col-4"> -->
<!-- <%= link_to "fnasopharynx", fnasopharynx_path, :class => "btn btn-primary btn-lg btn-block responsive-width", remote: true %> -->
  <!-- <button type="button" id="fnasopharynx" class="btn btn-primary btn-lg btn-block responsive-width" data-toggle="modal" data-target="#exampleModalLong">Nasalpharynx</button> -->
  <!-- <button type="button" id="frespiratory" class="btn btn-primary btn-lg btn-block responsive-width">Respiratory</button>
  <button type="button" id="fstomach" class="btn btn-primary btn-lg btn-block responsive-width">Stomach</button>
  <button type="button" id="fsmallintestine" class="btn btn-primary btn-lg btn-block responsive-width">Small Intestine </button>
  <button type="button" id="flargeintestine" class="btn btn-primary btn-lg btn-block responsive-width">Large Intestine</button>
  <button type="button" id="furinary" class="btn btn-primary btn-lg btn-block responsive-width">Urinary System</button>
  <button type="button" id="fgenitalia" class="btn btn-primary btn-lg btn-block responsive-width">Genitailia</button>
  <button type="button" id="fskin" class="btn btn-primary btn-lg btn-block responsive-width">Skin</button>
</div> -->
